* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
p,
button,
div {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

.header {
  margin: 1rem auto;
  text-align: center;
}

.story-type {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.list-item-p {
  margin: 0.5rem 0;
}

.comments-wrapper {
  margin: 0 0 10px 20px;
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .container {
    max-width: auto;
    padding: 0 1rem;
  }
}
